<h2>Avialable tables for specified time</h2>
<h4 ng-show="restaurant.currentRestaurant" style="margin-top: 30px">{{restaurant.currentRestaurant.name}}, {{restaurant.currentRestaurant.location}}</h4>
<div class="input-group col-lg-12 col-md-12" style="padding-left:0">
    <div class="demo-section k-header" style="margin-bottom: 10px; border: 2px solid #fff;width:50%" ng-controller="KendoController as kendo">
        <input id="dateAvialableTables" type="text" placeholder="Date M/d/yyyy hh:mm:ss" kendo-date-time-picker
               ng-model="restaurant.order.timeFrom"
               style="width: 100%;"
               k-options="datePickerOptions"/>
    </div>
    <p id="tableListErrorMessage" style="color: red; font-size: 12px; margin-left: 0;"></p>
    <button ng-click="table.getAvialableTables(restaurant.currentRestaurant.id)" id="submitAvialableTables" style="margin-bottom:10px" class="btn btn-success" type="button">Go!</button>
</div>
<div id="avialableTablesList" ng-show="table.avialableTables">
    <ul class="list-group">
        <li ng-repeat="t in table.avialableTables" class="list-group-item avialableTable">Table # {{t.tableNumber}}</li>
    </ul>
</div>
