<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular</title>
    <link rel="stylesheet" href="../Content/bootstrap.css" />
    <link rel="stylesheet" href="../Content/angularSite.css" />
    <link rel="stylesheet" href="../Content/jquery.filthypillow.css" />
    <link rel="stylesheet" href="../Scripts/angular-csp.css"/>
    <script src="../Scripts/jquery-1.10.2.js"></script>
    <script src="../Scripts/moment.js"></script>
    <script src="../Scripts/jquery.filthypillow.js"></script>
</head>
<body ng-app="restaurantBooking" ng-cloak>

    <div id="wrapper" ng-controller="MainController as main">
        <div ng-controller="RestaurantController as restaurant">
            <div ng-controller="OrderController as order">
                <div ng-controller="ReviewController as review">

                    <!--Navigation-->
                    <nav class="navbar navbar-inverse">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <img alt="Brand" src="../Content/images/Logo-Useful_Food.png" style="height: 50px" />
                            </div>


                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="TableController as table">
                                <ul class="nav navbar-nav" style="margin-left: 90px; font-family: Tahoma">
                                    <li><a href="#" ng-click="main.toggleHome();restaurant.getAllRestaurants()">Home</a></li>
                                    <li><a href="#" ng-click="main.toggleRestaurant();restaurant.getAllRestaurants();restaurant.restaurantById=null">Restaurants <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#" ng-click="main.toggleOrder();order.getOrders()">Orders</a></li>
                                    <li><a href="#" ng-click="main.toggleReview();review.getReviews()">Reviews</a></li>
                                </ul>
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <div id="avialableTablesContainer" ng-click="table.getAvialableTables()"></div>
                                </form>
                            </div>
                        </div>
                    </nav>


                    <!--Section for login-->
                    <div class="container-fluid" style="height: 30px; background: #E0FFEA"></div>

                    <div ng-show="main.secondRowToggle == 'avialable tables'">
                        <div id="headerWrapper" class="container-fluid" style="background: url(../Content/images/Header.jpg); min-height: 400px; background-size: 150%; background-position-y: -400px; background-position-x: center">
                            <div class="darkBdOverlay" style="background-color: rgba(0, 0, 0, 0.3); padding: 10px;">
                                <div class="container" style="width: 80%">
                                    <!--Restaurant list in the external file-->
                                    <div id="restaurant" ng-include="'Restaurant/restaurantList.html'" class="col-lg-6 col-md-6 col-sm-6" style="border-radius: 5px; min-height: 380px; padding-top: 10px; color: #fff; overflow: auto;"></div>

                                    <!--Submit order form in the external file-->
                                    <div id="submitForm" ng-include="'Order/submitOrder.html'" class="col-lg-6 col-md-6 col-sm-6"></div>
                                </div>
                            </div>
                        </div><!--First Row-->


                        <div class="container-fluid">
                            <div class="container" ng-controller="TableController as table" ng-show="main.secondRowToggle == 'avialable tables'">
                                <!--Avialable tables in the external file-->
                                <div ng-include="'Table/avialableTables.html'" class="col-lg-6 col-md-6 col-sm-6"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6"></div>
                            </div><!--TableController-->
                        </div><!--SecondRow-->
                    </div>

                    <div class="container" ng-include="'Restaurant/restaurantsCrud.html'" ng-show="main.secondRowToggle == 'restaurants'"></div>
                    <div class="container" ng-include="'Order/ordersCrud.html'" ng-show="main.secondRowToggle == 'orders'"></div>
                    <div class="container" ng-include="'Review/reviewsCrud.html'" ng-show="main.secondRowToggle == 'reviews'">

                    </div><!--ReviewController-->
                </div><!--OrderController-->
            </div><!--RestaurantControllre-->
        </div><!--MainController-->
        <!--Libraries-->
        <script src="../Scripts/bootstrap.js"></script>
        <script src="../Scripts/angular.js"></script>

        <!--Modules-->
        <script src="App/app.js"></script>
        <script src="Restaurant/restaurant.js"></script>
        <script src="Table/table.js"></script>
        <script src="Order/order.js"></script>
        <script src="Review/review.js"></script>

        
        <script>
            jQuery(document).ready(function () {
                $('body').on('click', '.restaurantListRow', function () {
                    console.log("click");
                    jQuery(".restaurantListRow").css('background', 'transparent');
                    jQuery(this).css('background', '#fff');
                });

            });
        </script>
    </div>
</body>
</html>
