@model IEnumerable<OdeToFood.Core.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Restaurants List", "Index", "Restaurant")   
</p>
<p>
    @Html.ActionLink("Restaurant Reviews List", "Index", "RestaurantReview")
</p>

