@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<ul style="list-style-type: none;">
    <li style="display: inline-block; padding-top: 25px; padding-right: 30px; margin-left: -40px;padding-left:0">
        @Html.ActionLink("Restaurants List", "Index", "Restaurant")
    </li>
    <li style="display: inline-block;padding-top:25px">
        @Html.ActionLink("Restaurant Reviews List", "Index", "RestaurantReview")
    </li>
</ul>
